@import url('https://fonts.googleapis.com/css?family=Boogaloo|Shrikhand');
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/*font-family: 'Boogaloo', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Jeju Gothic', serif;*/


*{
    background-color:black;
    color:white;
}

body{
    font-family: 'Jeju Gothic','Boogaloo','Shrikhand', cursive;
    font-size: 2.0em;
    text-align: center;
}

.copyright{
    color:#686767;
    font-size:0.7em;
    margin: 10px;
}

.formbox label {
    position: relative;
    left:-10px;
}

.formbox input{
    color: white;
}

button, i, span {
    background-color: #F7B7CE;
}

span.glyphicon{
    position: relative;
    opacity: 0;
    left:-20px;
    transition: all 0.2s ease-in-out;
}

button:hover span.glyphicon{
    opacity: 0.6;
    left:24px;
    transition-delay: 0.2s;
    width:13px;
}



button span.btn-name{
  position: relative;
  left:-6.5px;
}

button:hover span.btn-name{
  opacity: 0;
}

li{
    list-style: none;
}

.signin .interest-list li{
    display: inline;
}

