@charset "UTF-8"
/* 서버 등록 이후 재코딩 */
@font-face{
    font-family: 'HoboStd';
    src: local(※),
        url('HoboStd.eot') format('eot'),
        url('HoboStd.woff') format('woff'),
        url('HoboStd.ttf') format('ttf');
}

#logo{
    font-family: 'HoboStd';
}