<!Doctype html>
<html lang="ko-kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title> Polar' - Your life, it's masterpiece for others </title>
    
   <!--Bootstrap CSS-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <!--Stylesheet-->
   
   <link rel="stylesheet" href="/assets/css/fonts.css">
   <link rel="stylesheet" href="/assets/css/main_theme.css">
   <link rel="stylesheet" href="/assets/css/custom.css">
   <link rel="stylesheet" href="/assets/css/bootstrap-social.css">
   <link rel="stylesheet" href="/assets/css/doc.css">
  </head>
  
 <body id="page-top">
 
 
  
    {{{body}}}

   
    
    <!--footer(About/CONTACT/copyright)-->
     <section id="contact" style="margin-bottom:-80px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 about-section">
                <h3>ABOUT</h3>
                <hr class="footer-hr"/>
                <div class="about row">
                <div class="col-md-6 col-xs-12 about-photo">
                    <img src="/assets/img/KakaoTalk_20171217_012511615.jpg" width="200px" height="250px" style="margin-top:20px;" alt=""/>
                </div>
        
                <div class="col-md-6 col-xs-12" style="font-size:0.4em;margin-top:20px;margin-bottom:20px;">
                    <div style="color:gray">사진으로 포트폴리오, 여행일기, 사진공유포토북을 만들어보세요
                    휴대폰 앨범 공간이 부족한 사람들을 위한 저장공간으로도 사용하실 수 있습니다. <br><b style="font-size:1.25em;color:black"><span style="color:#fed136">&#35; </span>태그로 관리하는 <br>웹어플리케이션 Polar'입니다</b>
                    <div class="row" style="margin-top:20px;">
                      <a class="col-md-12" href="https://github.com/ss-won/Polar-finalexam" style="color:black;">
                       <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                       </a>
                       <a class="col-md-12" href="https://github.com/ss-won/Polar-finalexam" style="color:black;">https://github.com/ss-won/Polar-finalexam</a>
                       <div class="col-md-12">
                           소스코드는 여기서 확인하실 수 있습니다.<br><br>
                           ReDesign Produce &#64;ss_won_<br>
                           &#64;Gachon University
                       </div>
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 contact-section" >
                <h3>CONTACT</h3>
                <hr class="footer-hr"/>
                <div class="social-icons row">
                <ul class="col-md-12" style="text-align:center">
                <li><a href="https://www.facebook.com/sswonJ" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a></li>
                <li><a href="http://www.instagram.com/ss__won_" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="mailto:swj960515@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
                </div>
                <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
            </div>
        </div>
    </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright">
            <hr/>
            copyright &copy; ss_won_<br/>
            2017.12.18
            </div>
                </div>
            </div>
    </footer>
   
  

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/assets/js/index.js"></script>
    <script type="text/javascript" src="/assets/js/inputEvent.js"></script>
  <script type="text/javascript">
   (function($) {
  "use strict"; // Start of use strict
        
       
  // Smooth scrolling using jQuery easing
  $('a.js-scroll-trigger[href*="#"]:not([href="#"]) a.js-scroll-trigger>i').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: (target.offset().top -54)
        }, 1000, "easeInOutExpo");
        return false;
      } else if(target.length > 0 && 'a.js-scroll-trigger[href="#body"]'){
          $('html, body').animate({
          scrollTop: (target.offset().top - 20)
        }, 1000, "easeInOutExpo");
        return false;
      }
    }
  });

  // Closes responsive menu when a scroll trigger link is clicked
  $('a.nav-link').click(function() {
    $('.navbar-collapse').collapse('hide');
  });

  // Activate scrollspy to add active class to navbar items on scroll
  $('body').scrollspy({
    target: '#mainNav',
    offset: 54
  });

  // Collapse Navbar
  var navbarCollapse = function() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  };
  // Collapse now if page is not at top
  navbarCollapse();
  // Collapse the navbar when page is scrolled
  $(window).scroll(navbarCollapse);


  // Hide navbar when modals trigger
  $('.portfolio-modal').on('show.bs.modal', function(e) {
    $(".navbar").addClass("d-none");
  })
  $('.portfolio-modal').on('hidden.bs.modal', function(e) {
    $(".navbar").removeClass("d-none");
  })
       
 //signin.hbs를 위한 jquey
    $(".sign-in").on('click',function(){
        /* submit을 눌렀을때 동작 선언*/
        $('.glyphicon').css("text-shadow","0px 1px #000000");
    
    })
   
 //scroll-top, another effect
       $(window).scroll(function(){
        let scroll = $(document).scrollTop();
       let target = $('section#body').offset().top;
       let target2 = $('section#contact').offset().top;
        if(scroll >= target){
            $('a.top').css('display','block');
        }
        if(scroll < target){
            $('a.top').css('display','none');
        }
        if(target2 > scroll){
            $('.nav-item a#polarphoto').css('color','#fec503');
        }
        if(target2 <= scroll){
            $('.nav-item a#polarphoto').css('color','#ffffff');
        }
       });
       

 
       
})(jQuery); // End of use strict
//file button 

/**이벤트 발생 (크롬,파이어폭스,사파이어 OK!) **/
function eventOccur(evEle, evType){
 if (evEle.fireEvent) {
 evEle.fireEvent('on' + evType);
 } else {
 //MouseEvents가 포인트 그냥 Events는 안됨~ ??
 var mouseEvent = document.createEvent('MouseEvents');
 /* API문서 initEvent(type,bubbles,cancelable) */
 mouseEvent.initEvent(evType, true, false);
 var transCheck = evEle.dispatchEvent(mouseEvent);
 if (!transCheck) {
 //만약 이벤트에 실패했다면
 console.log("클릭 이벤트 발생 실패!");
 }
 }
};
/** 대체버튼 클릭시 강제 이벤트 발생**/
function check(){
 eventOccur(document.getElementById('orgFile'),'click');
 /* alert(orgFile.value); 이벤트 처리가 끝나지 않은 타이밍이라 값 확인 안됨! 시간차 문제 */
};
  
    </script>
    
 </body>
</html>